body {
	background-color: burlywood;
}

h1 {
	text-align: center;
	color: rgb(89, 20, 0);
	padding-bottom: 1px;
	border-bottom: double 2px rgb(89, 20, 0);
}

h2 {
	text-align: center;
	color: rgb(89, 20, 0);
	margin-left: 5px;
	margin-right: 5px;
	padding-bottom: 1px;
	border: solid 1px black;
	box-shadow: 2px 2px 2px rgb(89, 20, 0);
}

h3 {
	color: rgb(89, 20, 0);
}

#back-to-top {
	background-color: transparent;
	color: maroon;
	border: outset 3px maroon;
	border-radius: 5px;
	padding: 5px;
}

.button-holder {
	text-align: center;
	justify-content: center;
	margin-bottom: 5px;
	padding-bottom: 10px;
}

a {
	color: maroon;
	font-weight: bold;
	padding-bottom: 1px;
}

#flex-container {
	display: flex;
	flex-wrap: nowrap;
	margin: 3%;
}

#character-list {
	width: 33%;
	margin-bottom: 5px;
}

.sidebar {
	width: 33%;
}

#faction-list {
	float: left;
	margin-bottom: 5px;
}

#plotline-list {
	float: right;
}

.row {
	margin: 5px;
	border: solid 0.5px maroon;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgb(89, 20, 0);
	justify-content: center;
	padding-left: 3px;
	padding-right: 3px;
}

.red {
	color: rgb(189, 0, 0);
}

.blue {
	color: darkblue;
}

.green {
	color: darkgreen;
}

.purple {
	color: darkmagenta;
}

.orange {
	color: brown;
}

.loading {
	color: darkslategray;
	text-align: center;
	justify-content: center;
}

.inactive {
	color: darkslategray;
	font-style: italic;
}

@media (max-width: 760px) {
	
	#flex-container {
		flex-wrap: wrap;
	}
	
	#character-list {
		width: 100%;
	}
	
	.sidebar {
		width: 100%;
	}
}


