/*HTML targeters*/
body {
	background-color: burlywood;
}

h1 {
	text-align: center;
	color: rgb(89, 20, 0);
	padding-bottom: 1px;
	border-bottom: double 2px rgb(89, 20, 0);
}

h3 {
	color: rgb(89, 20, 0);
	text-align: left;
}

a {
	color: maroon;
	font-weight: bold;
	padding-bottom: 1px;
}

ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin-left: -10px;
	margin-right: -10px;
}

li {
	margin-left: 10px;
	margin-right: 10px;
}

label {
	color: rgb(89, 20, 0);
	font-weight: bold;
}

select {
	background-color: linen;
	color: rgb(89, 20, 0);
	border: solid 0.5px rgb(89, 20, 0);
}

dialog {
	border: none;
	background-color: rgb(0, 0, 0, 0.4);
	backdrop-filter: blur(2px);
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	height:100%;
	width:100%;
	align-content: center;
}

input {
	background-color: linen;
	color: rgb(89, 20, 0);
	border: solid 0.5px rgb(89, 20, 0);
	margin-top: 3px;
	margin-bottom: 3px;
}

input:focus {
	outline: solid 3px darkslateblue;
}

textarea {
	background-color: linen;
	color: rgb(89, 20, 0);
	border: solid 0.5px rgb(89, 20, 0);
	min-width: 50%;
	min-height: 50px;
}

textarea:focus {
	outline: solid 3px darkslateblue;
}

input[type="checkbox"] {
	vertical-align: middle;
}


/*Class targeters*/
.column-header {
	display: flex;
	text-align: center;
	justify-content: space-between;
	color: rgb(89, 20, 0);
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border: solid 1px black;
	box-shadow: 2px 2px 2px rgb(89, 20, 0);
}

.button-holder {
	text-align: center;
	justify-content: center;
	margin-bottom: 5px;
	padding-bottom: 10px;
}

.sidebar {
	width: 33%;
}

.row {
	display: flex;
	margin: 5px;
	border: solid 0.5px maroon;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgb(89, 20, 0);
	justify-content: space-between;
	padding-left: 5px;
	padding-right: 5px;
}

.red {
	color: rgb(189, 0, 0);
}

.blue {
	color: darkblue;
}

.green {
	color: darkgreen;
}

.purple {
	color: darkmagenta;
}

.orange {
	color: brown;
}

.loading {
	color: darkslategray;
	text-align: center;
	justify-content: center;
}

.inactive {
	color: darkslategray;
	font-style: italic;
}

.see-details {
	background-color: lightblue;
	color: darkblue;
	border: outset 3px darkblue;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.hide-details {
	background-color: lightgray;
	color: darkslategray;
	border: outset 3px darkslategray;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.detail-container {
	margin: 5px;
	border: solid 0.5px maroon;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgb(89, 20, 0);
	padding-left: 3px;
	padding-right: 3px;
}

.detail-section {
	color: rgb(89, 20, 0);
	border-bottom: solid 1px maroon;
	margin-bottom: 2px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-left: 5px;
	padding-right: 5px;
}

.detail-list {
	color: rgb(89, 20, 0);
	border-bottom: solid 1px maroon;
	margin-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

.checkbox-list {
	display: flex;
	flex-wrap: wrap;
}

.checkbox {
	min-width: 40%;
	margin-left: 10px;
	margin-right: 10px;
}

.detail-buttons {
	margin-bottom: 2px;
	display: flex;
	justify-content: space-evenly;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
}

.open-form-button {
	background-color: paleturquoise;
	color: darkgreen;
	border: outset 3px darkgreen;
	border-radius: 5px;
	width: 75px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
}

.delete-button {
	background-color: orange;
	color: maroon;
	border: outset 3px maroon;
	border-radius: 5px;
	width: 75px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
}

.toggle-to-inactive {
	background-color: linen;
	color: rgb(89, 20, 0);
	border: outset 3px rgb(89, 20, 0);
	border-radius: 5px;
	padding: 5px;
}

.toggle-to-active {
	background-color: lightgray;
	color: darkslategray;
	border: outset 3px darkslategray;
	border-radius: 5px;
	padding: 5px;
}

.submit-button {
	background-color: lavender;
	color: darkmagenta;
	border: outset 3px darkmagenta;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.cancel-button {
	background-color: linen;
	color: rgb(89, 20, 0);
	border: outset 3px rgb(89, 20, 0);
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.dialog-interior {
	background-color: burlywood;
	color: rgb(89, 20, 0);
	border: solid 1px rgb(89, 20, 0);
	width: 25vw;
	margin: auto;
	padding: 3px;
}

.dialog-header {
	text-align: center;
	border-bottom: solid 0.5px rgb(89, 20, 0);
	padding-bottom: 1px;
}

.dialog-buttons {
	display: flex;
	justify-content: space-evenly;
	padding-left: 3px;
	padding-right: 3px;
}



/*Id targeters*/
#flex-container {
	display: flex;
	flex-wrap: nowrap;
	margin: 3%;
}

#character-list {
	width: 33%;
	margin-bottom: 5px;
}

#faction-list {
	float: left;
	margin-bottom: 5px;
}

#plotline-list {
	float: right;
}

#back-to-top {
	background-color: transparent;
	color: maroon;
	border: outset 3px maroon;
	border-radius: 5px;
	padding: 5px;
}



/*Media queries*/
@media (max-width: 760px) {
	
	#flex-container {
		flex-wrap: wrap;
	}
	
	#character-list {
		width: 100%;
	}
	
	.sidebar {
		width: 100%;
	}
}


